<%= div_for buying do %>
<div class="sub_entry" id="">
	<div class="item-left left">

	  <span class="value"><%= buying.costs %> €</span>
			  
		<div class="edit left" title="Eintrag bearbeiten" onClick=""></div>
		
	<div class="delete left" title="Eintrag löschen" onClick=""></div>

	</div>
	<div class="comment left"><%= buying.description %></div>
	<div style="clear:both;"></div>
	<div class="sub_entry_line"></div>
</div>

<% end %>
